<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">

  function check_dates_are_set() {

  }

  function check_loop_rate() {

    if (document.getElementById('baw_loop_rate').value == 0)
      alert('Loop rate is required for paging')
  }

</script>
<table style="width:950px">
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:200px"></TD>
    <TD style="width:300px"></TD>
    <TD style="width:400px"></TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>From date*</TD>
    <TD>
      <input type="datetime-local" step=1 id="baw_from_date" name="baw_from_date" size="40" value="{{ baw_from_date }}"
        required>
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Retrieve instances from this date using the criteria
          below</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>From date criteria*</TD>
    <TD style="width:200px"><select name="baw_from_date_criteria" id="baw_from_date_criteria" required>
        <option value="modifiedAfter" {{ selected_modified_after }}>modifiedAfter</option>
        <option value="createdAfter" {{ selected_created_after }}>createdAfter</option>
        <option value="closedAfter" {{ selected_closed_after }}>closedAfter</option>
      </select>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>To date*</TD>
    <TD>
      <input type="datetime-local" step=1 id="baw_to_date" name="baw_to_date" size="40" value="{{ baw_to_date }}"
        required>
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Retrieve instances until this date using the criteria
          below</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>From date criteria*</TD>
    <TD style="width:200px"><select name="baw_to_date_criteria" id="baw_to_date_criteria" required>
        <option value="modifiedBefore" {{ selected_modified_before }}>modifiedBefore</option>
        <option value="createdBefore" {{ selected_created_before }}>createdBefore</option>
        <option value="closedBefore" {{ selected_closed_before }}>closedBefore</option>
      </select>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>Instance filter status: </TD>
    <TD>
      <textarea rows=2 cols=30 id="baw_status_filter" name="baw_status_filter">{{ config.BAW.status_filter }}</textarea>
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Extract instances with status:
          Active,Completed,Failed,Terminated,Suspended,Late,At_Risk (no blank)</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>Loop rate (seconds)</TD>
    <TD>
      <input type="number" id="baw_loop_rate" name="baw_loop_rate" size="40" value="{{ config.BAW.loop_rate }}">
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>ex: Loops every 60 seconds>. 0 means no loop</i></div>
    </TD>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>Paging size (# instances)</TD>
    <TD><input type="number" min=0 vid="baw_paging_size" name="baw_paging_size" size="40"
        value="{{ config.BAW.paging_size }}" onchange="check_loop_rate()"></TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Paging: number of instances processed at each loop
  </TR>
  <TR>
  <TR>
    <TD></TD>
    <TD>instance limit</TD>
    <TD><input type="number" min=0 vid="baw_instance_limit" name="baw_instance_limit" size="40"
        value="{{ config.BAW.instance_limit }}"></TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Used for sizing experiments or retrieving specific instances
  </TR>
  <TR>
    <TD></TD>
    <TD>offset</TD>
    <TD><input type="number" min=0 vid="baw_offset" name="baw_offset" size="40"
        value="{{ config.BAW.offset }}"></TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Ignore the first 'offset' instances. Used combined with 'instance limit'
  </TR>
  <TR>
    <TD></TD>
    <TD># of threads</TD>
    <TD><input type="number" min=1 id="baw_thread_count" name="baw_thread_count" size="40"
        value="{{ config.BAW.thread_count }}">
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>Number of threads for the extraction</i></div>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>Create a CSV at each loop </TD>
    <TD>
      <input type="checkbox" id="baw_csv_at_each_loop" name="baw_csv_at_each_loop" {{ baw_csv_at_each_loop }}>
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>A CSV is generated at each loop. Otherwise only when
          +500k events are extracted</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD></TD>
    <TD>Generate CSV beyond </TD>
    <TD>
      <input type="number" id="baw_trigger_csv_beyond" name="baw_trigger_csv_beyond"
        value="{{ config.BAW.trigger_csv_beyond  }}"> events
    </TD>
    <TD>
      <div style="color:#797676" class="bx--form__helper-text"><i>A CSV is generated +500k events are extracted</i>
      </div>
    </TD>
  </TR>
</table>