{% csrf_token %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">

  function checkBAWParameters(){
   //Mandatory parameters - BAW
    BAW_config = {}
    BAW_config["root_url"] = document.getElementById("baw_root_url").value;
    BAW_config["user"] = document.getElementById("baw_user").value;
    BAW_config["password"] = document.getElementById("baw_password").value;
    BAW_config["project"] = document.getElementById("baw_project").value;
    BAW_config["process_name"] = document.getElementById("baw_process_name").value;

    keys = Object.keys(BAW_config);
    for (let i = 0; i < keys.length; i++) {
      key = keys[i];
      if (BAW_config[key] == ""){
        alertmsg = "Error: "+key+" should not be empty";
        alert(alertmsg);
        return 0
      }
    }

    // Transform the date from the date input field and the hour input field
    // The date input field is "" when no date entered. 
    if (document.getElementById("baw_modified_after_date").value != ""){
      // Check the time
      // create the date format from the date and the time
      BAW_config["modified_after"] = document.getElementById("baw_modified_after_date").value
            +"T"+document.getElementById("baw_modified_after_time").value+":00Z"
    }
    else{
      BAW_config["modified_after"] = ""
    }
    if (document.getElementById("baw_modified_before_date").value != ""){
      BAW_config["modified_before"] = document.getElementById("baw_modified_before_date").value
      +"T"+document.getElementById("baw_modified_before_time").value+":00Z"
    }
    else{
      BAW_config["modified_before"] = ""
    }

    BAW_config["extraction_interval"] = parseInt(document.getElementById("extraction_interval").value,10)
    BAW_config["thread_count"] = parseInt(document.getElementById("baw_thread_count").value, 10)
    BAW_config["instance_limit"] = parseInt(document.getElementById("baw_instance_limit").value, 10)
    if (document.getElementById("baw_task_data_variables").value == ""){
      BAW_config["task_data_variables"] =[]
    }
    else{
      variable_list_str = document.getElementById("baw_task_data_variables").value
      // remove blanks if any
      variable_list_str = variable_list_str.replace(/\s+/g, '')
      BAW_config["task_data_variables"] = variable_list_str.split(",")

    }
    
    return BAW_config    
  }

  function checkIPMparameters(){
  //Mandatory parameters - IPM
    IPM_config = {}
    IPM_config["url"] = document.getElementById("ipm_url").value;
    IPM_config["user_id"] = document.getElementById("ipm_user_id").value;
    IPM_config["api_key"] = document.getElementById("ipm_api_key").value;
    IPM_config["org_key"] = document.getElementById("ipm_org_key").value;
    IPM_config["project_key"] = document.getElementById("ipm_project_key").value;
    IPM_config["project_name"] = document.getElementById("ipm_project_name").value;
    if (IPM_config["url"] != "") {
      // There is a URL, check that all the required fields are set
      keys = Object.keys(IPM_config);
      for (let i = 1; i < keys.length; i++) {
        // 1 to not check url==""
        key = keys[i];
        if (BAW_config[key] == "") {
          alertmsg = "Error: " + key + " should not be empty";
          alert(alertmsg);
          return 0
        }
      }
      if (IPM_config["project_key"] == "" && IPM_config["project_name"] == "") {
        alert("Error: Enter Project Key or Project Name")
        return 0
      }
    }
    return IPM_config
  }
  
  function StartExtraction() {
    job_name = document.getElementById("job_name").value;
    update_rate = parseInt(document.getElementById("update_rate").value, 10)
    if (job_name == ""){
      alert("Error: a Job Name is required")
      return
    }
    
    BAW_config = checkBAWParameters()
    if (BAW_config == 0) {
      return
    }
    IBM_config = checkIPMparameters()
    if (IPM_config == 0) {
      return
    }

    // extraction period requires a loop rate and a modified after date
    if (BAW_config["extraction_interval"] != 0){
      if ((update_rate == 0) || (BAW_config['modified_after'] == "")){
        alertmsg = "Error update="+update_rate+" modified_after ="+BAW_config['modified_after']
        alert(alertmsg)
        alert("Error: update rate and modified after date are required when an extraction period is set")
        return
      }
    }

    job = {"job_name" : job_name , "update_rate" : update_rate, "exit" : 0}
    fullconfig = {
      "JOB" : job,
      "BAW" : BAW_config,
      "IPM" : IPM_config
    }
    
    execute_python('/executeScript_processMining/', fullconfig)
    alert("The data is being extracted from BAW + loaded to PM. \n Please consult the terminal to see status")
  }

  function ResumeExtraction(){
    job_name = document.getElementById("job_name").value;
    if (job_name == ""){
      alert("Error: Job name is required")
      return
    }
    update_rate = parseInt(document.getElementById("update_rate").value, 10)
    extraction_interval = parseInt(document.getElementById("extraction_interval").value, 10)
    restart_config ={"job_name" : job_name, "update_rate" : update_rate, "extraction_interval" : extraction_interval}
    execute_python('/executeScript/', restart_config)
  }

  function StopExtraction(){
    job_name = document.getElementById("job_name").value;
    if (job_name == ""){
      alert("Error: Job name is required")
      return
    }
    stop_config ={"job_name" : job_name}
    execute_python('/stopExtraction/', stop_config)
  }

  function loadJob(){

  }

  function execute_python(url, data) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch(url, { method: "POST", headers: { 'X-CSRFToken': csrftoken }, body: JSON.stringify(data) });
  }

  function TestValue(){
    alert(document.getElementById("baw_modified_before_time").value)
  }
</script>

<!DOCTYPE html>

<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Automation BAW</title>
  <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
  <style>
    body {
      font-family: 'IBM Plex Sans';
      font-size: 22px;
    }

    .btn_mod {
      border: none;
      background-color: inherit;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
    }

    .btn:hover {
      background: #eee;
    }

    .black {
      color: rgb(3, 3, 3);
    }

    .blue {
      color: rgb(13, 93, 173);
    }
  </style>
</head>

{% csrf_token %}
<TR>
  <TD><br></TD>
</TR>
<table style="width:1000px">
  <TR>
    <TD align="center" colspan="4">
      <h1>BAW-Process Mining Accelerator Configuration</h1>
    </TD>
  </TR>
</table>
<table style="width:1000px">
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:100px">Job name*</TD>
    <TD style="width:100px"><input type="text" id="job_name" size="30"></TD>
    <TD style="width:150px"><label for="cars">Extraction loop every:</label>
    </TD>
    <TD style="width:50px">
      <select id="update_rate" name="rate_list" form="carform">
        <option value=0>None</option>
        <option value=5>5 sec</option>
        <option value=60>1 min</option>
        <option value=900>15 min</option>
        <option value=1800>30 min</option>
        <option value=3600>1 hour</option>
        <option value=5400>3 hours</option>
        <option value=10800>6 hours</option>
        <option value=21600>12 hours</option>
        <option value=43200>24 hours</option>
      </select>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:100px"></TD>
    <TD style="width:200px"></TD>
    <TD style="width:100px">Extraction interval (days)</TD>
    <TD style="width:50px"><input type="number" min=0 value=0 id="extraction_interval" size="10"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:100px"></TD>
    <TD style="width:200px"></TD>
    <TD style="width:50px" colspan="2">    
      <div style="color:#797676" class="bx--form__helper-text">
        <i>Extract instances within a period of time. 0: unlimited period</i>
    </div></TD>
  </TR>

</table>
<table style="width:1000px">
  <TR>
    <TD colspan="4" align="center">
      <button class="btn info" style="height:30px;width:150px"
        onclick="ResumeExtraction()"><b>Resume extraction </b> </button>
      <button class="btn info" style="height:30px;width:150px" onclick="StopExtraction()"><b>Stop extraction</b>
      </button>
    </TD>
  </TR>
  <TD colspan="4" style="width:250px" align="center">
    <div style="color:#797676" class="bx--form__helper-text"><i>Restart or Stop an existing job (only job name is required).</i>
    </div>
  </TD>
</table>
<table style="width:1000px">
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:250px" colspan="4">
      <h3>BAW mandatory configuration</h3>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD align="left" colspan="4">
      <div style="color:#797676" class="bx--form__helper-text">
        <i>Fields with (*) are mandatory to create a job.<br>
      </div>
    </TD>
  </TR>
</table>
<table style="width:1000px">
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px">URL*</TD>
    <TD style="width:250px"><input type="text" id="baw_root_url" size="30"></TD>
    <TD style="width:100px"># of threads</TD>
    <TD style="width:250px"><input type="number" min=1 value=1 id="baw_thread_count" size="40"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>BAW root URL</i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Number of threads for the extraction</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px">User ID*</TD>
    <TD style="width:250px"><input type="text" id="baw_user" size="30"></TD>
    <TD style="width:100px"># of instances</TD>
    <TD style="width:250px"><input type="number" value=-1 min=-1 id="baw_instance_limit" size="40"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>BAW user id</i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Max number of instances retrieved (-1=unlimited)</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px">Password*</TD>
    <TD style="width:250px"><input type="text" id="baw_password" size="30"></TD>
    <TD style="width:100px">Modified after</TD>
    <TD style="width:50px">
      <input type="date" id="baw_modified_after_date" size="40">
      <input type="time" id="baw_modified_after_time" value="00:00" size="40">
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>BAW password</i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Retrieve instances modified after this date</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px">Project*</TD>
    <TD style="width:250px"><input type="text" id="baw_project" size="30"></TD>
    <TD style="width:100px">Modified before</TD>
    <TD style="width:250px">
      <input type="date" id="baw_modified_before_date" size="40">
      <input type="time" id="baw_modified_before_time" value="00:00" size="40"></TD>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Project name (acronym)</i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Retrieve instances modified before this date</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:100px">Process name*</TD>
    <TD style="width:250px"><input type="text" id="baw_process_name" size="30"></TD>
    <TD style="width:100px">Business data</TD>
    <TD style="width:250px"><textarea id="baw_task_data_variables" rows="2" cols="32"></textarea></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Process name</i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>List data paths to include. Ex:<br>requisition.requester, currentPosition.jobTitle, currentPosition.replacement.lastName</i>
      </div>
    </TD>
  </TR>
</table>
<table style="width:1000px">
  <TR>
    <TD style="width:50px"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD align="left" colspan="2">
      <h3>IBM Process Mining configuration (optional)</h3>
    </TD>
  <TR>
    <TD style="width:50px"></TD>
    <TD align="left" colspan="4">
      <div style="color:#797676" class="bx--form__helper-text">
        <i>Uploads the BAW events to an new
          or an existing process mining project.<br>
          If the form is empty, CSV files are stored locally, upload them manually.<br>
      </div>
    </TD>
  </TR>
  <TR style="height:10px"></TR>
</table>
<table style="width:1000px">
  <TR>
  <TD style="width:50px" ></TD>
  <TD style="width:100px" >URL</TD>
  <TD style="width:250px"><input type="text" id="ipm_url" size="30"></TD>
  <TD style="width:100px">Organization key</TD>
  <TD style="width:250px"><input type="text" id="ipm_org_key" size="40"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Required for auto-upload </i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Required for auto-upload</i>
      </div>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px">User ID</TD>
    <TD style="width:250px"><input type="text" id="ipm_user_id" size="30"></TD>
    <TD style="width:100px">Project name</TD>
    <TD style="width:250px"><input type="text" id="ipm_project_name" size="40"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Required for auto upload </i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Required to create a new project</i></div>
    </TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px">API key</TD>
    <TD style="width:250px"><input type="text" id="ipm_api_key" size="30"></TD>
    <TD style="width:100px">Project key</TD>
    <TD style="width:250px"><input type="text" id="ipm_project_key" size="40"></TD>
  </TR>
  <TR>
    <TD style="width:50px"></TD>
    <TD style="width:50px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Required for auto upload </i></div>
    </TD>
    <TD style="width:100px"></TD>
    <TD style="width:250px">
      <div style="color:#797676" class="bx--form__helper-text"><i>Required to upload to an existing project</i></div>
    </TD>
  </TR>
</table>
<table style="width:1000px">
  <TR>
    <TD align="center" colspan="4"><button class="btn info" style="height:30px;width:250px"
      onclick="StartExtraction()"><b>Start extraction </b> </button>
  </TR>
</table>
</form>
</html>