{% csrf_token %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">

  function existingProject(){
    elementExistingProject = document.getElementById("existingProject");
    elementNewProject = document.getElementById("newProject");

    elementExistingProject.removeAttribute("hidden");
    elementNewProject.setAttribute("hidden", "hidden");

    document.getElementById("projectName").value = "";
    document.getElementById("organizationKey2").value = "";
  }
  function newProject(){
    elementExistingProject = document.getElementById("existingProject");
    elementNewProject = document.getElementById("newProject");

    elementNewProject.removeAttribute("hidden");
    elementExistingProject.setAttribute("hidden", "hidden");

    document.getElementById("projectKey").value = "";
    document.getElementById("organizationKey1").value = "";
  }

  function checkFullParam(url,userID,api_key,projectKey,organizationKey1,projectName,organizationKey2){
    full=false

    if(url==""){
      alert("The url shouldn't be empty");
    }else if(userID==""){
      alert("The user ID shouldn't be empty");
    }else if(api_key==""){
      alert("The API key shouldn't be empty");
    }else if(organizationKey1=="" && organizationKey2==""){
      alert("You should fill in the organization key of one of the options correctly ");
    }else if(organizationKey1!="" && projectKey==""){
      alert("The project key shouldn't be empty");
    }else if(organizationKey2!="" && projectName==""){
      alert("The project name shouldn't be empty");
    }else{
      full=true
    }
    return full
  }
  
  function launch(){
    //Mandatory
    url=document.getElementById("url").value;
    userID=document.getElementById("userID").value;
    api_key=document.getElementById("api_key").value;
    
    //Option 1 - Existing project
    projectKey=document.getElementById("projectKey").value;
    organizationKey1=document.getElementById("organizationKey1").value;
    
    //Option 2 - New project
    projectName=document.getElementById("projectName").value;
    organizationKey2=document.getElementById("organizationKey2").value;

    organizationKey=""
    if(organizationKey1!=""){
      organizationKey=organizationKey1
    }else{
      organizationKey=organizationKey2
    }
    
    correctParam=checkFullParam(url,userID,api_key,projectKey,organizationKey1,projectName,organizationKey2)
    if(correctParam){
      //,"thread_count":thread_count,"instance_limit":instance_limit,"modified_before":modified_before,"modified_after":modified_after,"business_data":business_data
      alert("The dataset is being loaded in IBM Process Mining. \n Please consult the terminal to see status");
      execute_python('/executeScript_processMining/',{"url":url,"user_id":userID,"api_key":api_key,"project_key":projectKey,"org_key":organizationKey,"project_name":projectName});
      
    }  
  }

  function execute_python(url,data){
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      fetch(url, {method: "POST", headers: {'X-CSRFToken': csrftoken}, body: JSON.stringify(data)});  
   }
</script>

<!DOCTYPE html>

<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automation BAW</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
    <style>
      body {
        font-family: 'IBM Plex Sans';font-size: 22px;
      }
      .btn_mod {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
      }
      
      .btn:hover {background: #eee;}
      
      .black {color: rgb(3, 3, 3);}
      .blue {color: rgb(13, 93, 173);}
      </style>
    </head>

      {% csrf_token %}
      <TR><TD><br></TD></TR>
      <table>
        <TR>
        
          <TD>
            <table>
              <TR >
                <TD align="center" colspan="4"><button class="btn_mod black" onclick="location.href='/historicalAnalysis/'">Historical analysis </button> &nbsp;&nbsp;&nbsp; <button class="btn_mod black" onclick="location.href='/monitoring/'">Monitoring</button>  <button class="btn_mod blue" onclick="location.href='/processMining/'"><b><u>Process mining</u></b></button></TD>
              
              </TR>
              <TR><TD>&nbsp;</TD></TR>
              <TR><TD>&nbsp;</TD></TR>
              <TR>
                <TD align="center" colspan="4"> <h1>Process Mining Configuration</h1> </TD>
              </TR>

            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; URL*</TD>
              <TD><input type="text" id="url" size="40"></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><div style="color:#797676" class="bx--form__helper-text"><i>Process mining URL</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; User ID*</TD>
              <TD><input type="text" id="userID" size="40"></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Example: admin</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; API key*</TD>
              <TD><input type="text" id="api_key" size="40"></TD>

            </TR>
            <TR>
              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Example: nl81f55*****</i></div></TD></TD>
            </TR>
            <TR><TD>&nbsp;</TD></TR>
            <TR><TD>&nbsp;</TD></TR>
            <TR >
              <TD align="left" colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn info" onclick="existingProject()"><b>Load into an existing project</b> </button>
                &nbsp;&nbsp;<button class="btn info" onclick="newProject()"><b>Create new project</b> </button>  
              </TD>
            </TR>
            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD colspan="2">
                <table id="existingProject" hidden >
                  <TR>
                    <TD colspan="2" > 
                      <span style=" color:rgb(13, 93, 173);"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Option 1</h2></span>
                      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load into an existing project</h3> 
                      <i></i><div style="color:#797676" class="bx--form__helper-text"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uploads a new dataset to an existing project</i></div>
                    </TD>
                  </TR>
                  <TR><TD>&nbsp;</TD></TR>
                  <TR>
                    <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project key*</TD>
                    <TD><input type="text" id="projectKey" size="40"></TD>
                  </TR>
                  <TR>
                    <TD></TD>
                    <TD><div style="color:#797676" class="bx--form__helper-text"><i>Example: HR-process</i></div></TD></TD>
                  </TR>
                  <TR><TD>&nbsp;</TD></TR>
                  <TR>
                    <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Organization key*</TD>
                    <TD><input type="text" id="organizationKey1" size="40"></TD>
                  </TR>
                  <TR>
                    <TD></TD>
                    <TD><div style="color:#797676" class="bx--form__helper-text"><i>Example: 90d0xcd3</i></div></TD></TD>
                  </TR>
                </table>
                <table id="newProject" hidden >
                  <TR>
                    <TD colspan="2" > 
                      <span style=" color:rgb(13, 93, 173);"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Option 2</h2></span>
                      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create new project</h3> 
                      <i></i><div style="color:#797676" class="bx--form__helper-text"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create a new project with the specified title in the target organization.</i></div>
                    </TD>
                  </TR>
                  <TR><TD>&nbsp;</TD></TR>
                  <TR>
                    <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project name*</TD>
                    <TD><input type="text" id="projectName" size="40"></TD>
                  </TR>
                  <TR>
                    <TD></TD>
                    <TD><div style="color:#797676" class="bx--form__helper-text"><i>New project name</i></div></TD></TD>
                  </TR>
                  <TR><TD>&nbsp;</TD></TR>
                  <TR>
                    <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Organization key*</TD>
                    <TD><input type="text" id="organizationKey2" size="40"></TD>
                  </TR>
                  <TR>
                    <TD></TD>
                    <TD><div style="color:#797676" class="bx--form__helper-text"><i>Example: 90d0xcd3</i></div></TD></TD>
                  </TR>
                </table>
              </TD>
            </TR>
          
            <TR><TD>&nbsp;</TD></TR>
            <TR><TD>&nbsp;</TD></TR>
            <TR >
              <TD align="center" colspan="4"><button class="btn info" onclick="launch()"><b>Launch</b> </button>  </TD>
            </TR>
            </table>
          </TD>
        </TR>
      </table>
 

      </form>

          

</html>




