{% csrf_token %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">

  function ShowSelected()
  {
    /* VALUE */
    /*strLineaNegocio = document.getElementById("lineaNegocio").value;
    strCategoria = document.getElementById("categoria").value;
    strProducto = document.getElementById("producto").value;*/
    //alert(strLineaNegocio)
    
    /* TEXT */
    /*var combo = document.getElementById("lineaNegocio");
    var selected = combo.options[combo.selectedIndex].text;*/
  }

  function checkFullParam(username,password,project,root_url,process_name){
    full=false

    if(username==""){
      alert("The user name shouldn't be empty");
    }else if(password==""){
      alert("The password shouldn't be empty");
    }else if(project==""){
      alert("The project shouldn't be empty");
    }else if(root_url==""){
      alert("The root URL shouldn't be empty");
    }else if(process_name==""){
      alert("The process name shouldn't be empty");
    }else{
      full=true
    }
    return full
  }
  

  function launch(){
    //Mandatory parameters
    username=document.getElementById("username").value;
    password=document.getElementById("password").value;
    project=document.getElementById("project").value;
    root_url=document.getElementById("root_url").value;
    process_name=document.getElementById("process_name").value;

    //Optional parameters
    stringConcatenate=""
    thread_count=document.getElementById("thread_count").value;
    if(thread_count==""){thread_count="1"}
    instance_limit=document.getElementById("instance_limit").value;
    if(instance_limit==""){instance_limit=" "}
    modified_before=document.getElementById("modified_before").value;
    if(modified_before==""){modified_before=" "}
    modified_after=document.getElementById("modified_after").value;
    if(modified_after==""){modified_after=" "}
    business_data=document.getElementById("business_data").value;
    business_data=business_data.replace(",",";")
    if(business_data==""){business_data=" "}

    
    correctParam=checkFullParam(username,password,project,root_url,process_name)
    if(correctParam){
      //,"thread_count":thread_count,"instance_limit":instance_limit,"modified_before":modified_before,"modified_after":modified_after,"business_data":business_data
      execute_python('/executeScript_BAW_extraction/',{"username":username,"password":password,"project":project,"root_url":root_url,"process_name":process_name,"thread_count":thread_count,"instance_limit":instance_limit,"modified_before":modified_before,"modified_after":modified_after,"business_data":business_data})
      alert("The data are being extracted from BAW. \n Please consult the terminal to see status");
      
    }
    
  }

  function execute_python(url,data){
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      fetch(url, {method: "POST", headers: {'X-CSRFToken': csrftoken}, body: JSON.stringify(data)});  
   }
</script>

<!DOCTYPE html>

<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automation BAW</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
    <style>
      body {
        font-family: 'IBM Plex Sans';font-size: 22px;
      }
      .btn_mod {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
      }
      
      .btn:hover {background: #eee;}
      
      .black {color: rgb(3, 3, 3);}
      .blue {color: rgb(13, 93, 173);}
      </style>
    </head>

      {% csrf_token %}
      <TR><TD><br></TD></TR>
      <table>
        
          <TD>
            <table>
              <TR >
                <TD align="center" colspan="4"><button class="btn_mod blue" onclick="location.href='/BAW_connector_configuration/'"><b><u>BAW Connector Configuration</u></b> </button> &nbsp;&nbsp;&nbsp; <button class="btn_mod black" onclick="location.href='/ProcessMining_connector_configuration/'">Process Mining Connector Configuration</button></TD>
              
              </TR>
              <TR><TD>&nbsp;</TD></TR>
              <TR><TD>&nbsp;</TD></TR>
              <TR>
                <TD align="center" colspan="4"> <h1>BAW Connector Configuration</h1> </TD>
              </TR>
              
              <TR><TD>&nbsp;</TD></TR>
              <TR><TD>&nbsp;</TD></TR>

              <TR>
                <TD colspan="2"> <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BAW Mandatory configuration</h3> </TD>
                <TD colspan="2"> <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BAW Optional configuration</h3> </TD>
              </TR>
            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Username*</TD>
              <TD><input type="text" id="username" size="40"></TD>

              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thread count</TD>
              <TD><input type="text" id="thread_count" size="40"></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><div style="color:#797676" class="bx--form__helper-text"><i>Your user ID</i></div></TD></TD>

              <TD></TD>
              <TD><div style="color:#797676" class="bx--form__helper-text"><i>Number of threads</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Password*</TD>
              <TD><input type="text" id="password" size="40"></TD>

              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Instance limit</TD>
              <TD><input type="text" id="instance_limit" size="40"></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Your password</i></div></TD></TD>

              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Maximum number of instances to be retrieved</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project*</TD>
              <TD><input type="text" id="project" size="40"></TD>

              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Modified after </TD>
              <TD><input type="text" id="modified_after" size="40"></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Your project</i></div></TD></TD>

              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Example: 2022-06-01T00:00:00Z</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Root URL*</TD>
              <TD><input type="text" id="root_url" size="40"></TD>

              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Modified before</TD>
              <TD><input type="text" id="modified_before" size="40"></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Root URL</i></div></TD></TD>

              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Example: 2022-07-01T22:07:33Z</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR>
              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Process name*</TD>
              <TD><input type="text" id="process_name" size="40"></TD>

              <TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Business data</TD>
              <TD><textarea id="business_data" rows="5" cols="50"></textarea></TD>
            </TR>
            <TR>
              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Process name</i></div></TD></TD>

              <TD></TD>
              <TD><i></i><div style="color:#797676" class="bx--form__helper-text"><i>Insert your business data separated by ;.<br> Example: country;gender;age;name</i></div></TD></TD>
            </TR>

            <TR><TD>&nbsp;</TD></TR>
            <TR><TD>&nbsp;</TD></TR>
            <TR >
              <TD align="center" colspan="4"><button class="btn info" onclick="launch()"><b>Launch</b> </button>  </TD>
            </TR>
            </table>
          </TD>
        </TR>
      </table>
 

      </form>

          

</html>




